// Custom date picker hotel

body {
  .date-hotel--custom {
    box-shadow: unset;
    position: relative;
    line-height: unset;
    background: unset;
    padding: unset;
    @apply h-[66px] border-0 relative pl-5 pr-[26px];
    .ant-picker-input {
      @apply font-primary text-ravi-black-100 text-sm font-normal;
      input {
        width: unset;
        flex: unset;
      }
      &:nth-child(1) {
        @apply ml-[25px];
      }
    }
    .ant-picker-input > input::placeholder {
      @apply font-primary text-ravi-black-100 text-sm font-normal;
    }
    .ant-picker-range-separator {
      @apply pl-[10px] pr-[10px] py-0 relative text-transparent;
      .ant-picker-separator {
        display: none;
      }
    }
    .ant-picker-range-separator:after {
      content: url("../../assets/images/line.svg");
      @apply absolute top-[-3px] left-2/4 -translate-x-2/4 -translate-y-2/4 pr-5;
    }
    .ant-picker-active-bar {
      margin-inline-start: unset;
      @apply bg-primary ml-5;
    }
    &::before {
      content: url("../../assets/images/icon-clendar.svg");
      @apply absolute -translate-y-2/4 top-[55%];
    }
  }
}

.custom-date--dropdown {
  @apply flex items-center justify-center flex-col;
  left: 27% !important;
  top: 66px !important;
  .ant-picker-range-wrapper {
    .ant-picker-range-arrow {
      display: none;
    }
    .ant-picker-panel-container {
      @apply w-full bg-white shadow-["_2px_4px_8px_rgba(37,37,37,0.25)"] rounded-lg pt-[21px] pl-6 pb-[29px] pr-[26px];
      .ant-picker-panel-layout {
        @apply grid;
        display: grid;
        .ant-picker-panels {
          @apply flex w-full justify-between gap-x-[26px];
          .ant-picker-panel:not(:last-child) {
            @apply w-full;
          }
          .ant-picker-panel {
            @apply flex-1;
          }
          .ant-picker-header {
            @apply p-0 items-center border-b-0 mb-[22px];
            .ant-picker-header-super-prev-btn,
            .ant-picker-header-super-next-btn {
              display: none;
            }
            .ant-picker-header-super-prev-btn {
              min-width: unset;
            }
            .ant-picker-super-prev-icon,
            .ant-picker-super-next-icon {
              display: none;
            }
            .ant-picker-header-view {
              line-height: unset;
              @apply font-primary font-normal text-ravi-black-100 text-base;
              button {
                line-height: unset;
              }
            }
          }
          .ant-picker-body {
            padding: 0;
            .ant-picker-content {
              width: 100%;
              thead {
                tr {
                  @apply flex gap-x-[18px] mb-10;
                }
              }
              .ant-picker-cell-disabled,
              .ant-picker-cell-in-range {
                &::before {
                  @apply bg-ravi-pink-f7 w-10 h-10;
                }
              }
              th {
                @apply font-primary font-normal text-sm text-ravi-black-100;
              }
              td.ant-picker-cell {
                .ant-picker-cell-inner {
                  @apply font-primary font-normal text-sm text-ravi-black-100;
                }
              }
              .ant-picker-cell-today .ant-picker-cell-inner::before {
                @apply border-none;
              }
              td.ant-picker-cell-range-start,
              td.ant-picker-cell-range-end {
                .ant-picker-cell-inner {
                  @apply flex items-center justify-center w-10 h-10 bg-primary border-primary rounded-lg text-white;
                }
              }
            }
          }
        }
      }
    }
  }
}
