// Custom dropdown filter search

.cutom-dropdown--hotel {
  display: flex;
  align-items: center;
  height: 66px;
}

.ml-custom {
  .ant-space {
    margin-left: 30px;
  }
}

body {
  .cutom-dropdown--show {
    @apply absolute bg-white rounded-lg w-[360px]  right-[0%] top-0;
    .ant-dropdown-menu-item-group-title {
      @apply font-primary font-bold text-xs text-ravi-gray-98 uppercase;
      padding: 16px 0 16px 8px !important;
    }
    .ant-dropdown-menu-item-group-list {
      margin: 0 !important;
      .ant-dropdown-menu-item {
        padding: 0;
        &:hover {
          background: unset;
        }
      }
    }
    .ant-dropdown-menu {
      box-shadow: unset;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
    }
  }
}

// Custom Drodown Result search

.dropdown-ant-root-custom {
  min-width: unset !important;
  max-width: 312px;
  width: 100%;
}

.dropdown-filter-search--custom {
  cursor: pointer;
  .ant-space {
    @apply inline-flex items-center gap-x-[10px] border border-ravi-gray-ba py-2 pl-6 pr-5 rounded-lg font-primary text-primary text-xs font-bold #{!important};
    .icon-arrow {
      svg {
        @apply duration-300 ease-linear rotate-0;
      }
    }
    .icon-arrow--translate {
      svg {
        @apply duration-300 ease-linear rotate-180;
      }
    }
    svg {
      path {
        @apply fill-primary;
      }
    }
  }
}

.dropdown-show-filter {
  @apply max-w-[312px] w-full bg-white shadow-dropdownShadow rounded-lg;
  .ant-dropdown-menu {
    @apply bg-transparent shadow-none pt-4 pl-5 pb-[14px];
    .ant-dropdown-menu-item {
      &:hover {
        background: unset;
      }
      &:last-child {
        @apply mb-5;
      }
      @apply p-0 mb-4;
    }
  }
  .close-show-dropdown {
    @apply flex justify-end py-4 pr-5  border-t  border-ravi-gray-55 font-primary cursor-pointer text-primary font-bold text-xs;
  }
}
.dropdown-filter--price {
  .ant-dropdown-menu {
    @apply pt-[22px] px-6 pb-6;
    .ant-dropdown-menu-item {
      .ant-dropdown-menu-title-content {
        .price-text-caculator {
          @apply text-xs font-normal font-primary text-ravi-black-100 mb-6;
        }
      }
    }
  }
}
