@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
  outline-offset: 0;
}

@layer base {
  body {
    @apply font-primary text-base font-normal text-ravi-black-100 mx-auto bg-white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

@layer components {
  .text-info-room {
    @apply font-primary font-normal text-ravi-black-100 text-sm;
  }
  // Border
  .border-bottom-gray {
    @apply border-b border-ravi-gray-55 pb-4 mb-4;
  }
  // Card History
  .border-left-item {
    @apply border-l border-ravi-gray-55 pl-4;
  }
  .title-item-info--history {
    @apply font-primary text-xs font-normal text-ravi-gray-80;
  }
  .text-item-info--history {
    @apply font-primary text-base font-normal text-ravi-black-100;
  }
  .layout-list--history {
    @apply flex-1 flex flex-col gap-y-4;
  }
  .layout-item--history {
    @apply flex flex-col gap-y-[2px] font-primary;
  }
}

input:focus + .error-input {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1344px;
  margin: 0 auto;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

@import "./components/swiper.scss";
@import "./components/select.scss";
@import "./components/datepicker.scss";
@import "./components/dropdown.scss";
@import "./components/checkbox.scss";
@import "./components/rangeInput.scss";
@import "./components/radio.scss";
@import "./components/modal.scss";
@import "./components/tag.scss";
@import "./components/tab.scss";
@import "./components/input.scss";
@import "./components/textarea.scss";
