@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
  outline-offset: 0;
}

@layer base {
  body {
    @apply font-primary text-base font-normal mx-auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    max-width: 1440px;
  }
  input {
    @apply outline-none;
  }
}

input:focus + .error-input {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1344px;
  margin: 0 auto;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@import "./components/swiper.scss";
@import "./components/select.scss";
@import "./components/datepicker.scss";
@import "./components/dropdown.scss";
